# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/public/build

# environment
.env

# caches
/.cache

# logs
npm-debug.log*

# server
/.netlify
/netlify/functions/server/index.js

# ide
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# misc
.DS_Store
*.pem
*.tgz
