# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# lockfiles
package-lock.json

# testing
/coverage

# production
/build
/public/build

# environment
.env
*.local

# cache
/.cache

# debug
*.log

# server
/.netlify

# misc
.DS_Store
